################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs/Wallpaper10CnC/v14
/bin/Debug
/obj/Debug
/Wallpaper10CnC/bin/Release
/Wallpaper10CnC/obj/Release
/Wallpaper10CnCTests/bin/Release
/Wallpaper10CnCTests/obj/Release
